{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="login-wrapper">
  <div class="login-container">
    <form method="POST" class="login-form">
      {% csrf_token %}
      <div class="form-header">
        <h1>Reset Password</h1>
        <p>Enter your email below to receive a password reset link</p>
      </div>
      <fieldset class="form-group">
        <div class="form-field">
          {{ form|crispy }}
        </div>
      </fieldset>
      <div class="form-submit">
        <button class="login-btn" type="submit">
          <span>Request Password Reset</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
