{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="content-section shadow-lg p-4 bg-white rounded" style="max-width: 500px; width: 100%;">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom custom-txt-gold text-center">Reset Password</legend>
          <div class="mb-3">
            {{ form|crispy }}
          </div>
        </fieldset>

        <div class="form-group text-center">
          <button class="btn custom-btn w-100 py-2" type="submit">Reset Password</button>
        </div>
      </form>

    </div>
  </div>
{% endblock %}