{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset - TravelMate{% endblock %}

{% block content %}
<div class="login-wrapper">
  <div class="login-container">
    <form method="POST" class="login-form">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="login-title">Reset Password</legend>
        <div class="form-field">
          {{ form|crispy }}
        </div>
      </fieldset>
      <div class="form-submit">
        <button class="login-btn" type="submit">Request Password Reset</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
