{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up - TravelMate{% endblock %}

{% block content %}
<div class="login-wrapper">
  <div class="login-container">
    <form method="POST" class="login-form">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="login-title">Join Today</legend>
        <div class="form-field">
          {{ form|crispy }}
        </div>
      </fieldset>
      <div class="form-submit">
        <button class="login-btn" type="submit">Sign Up</button>
      </div>
    </form>
    <div class="login-footer">
      <small>
        Already have an account? <a href="{% url 'login' %}">Sign In</a>
      </small>
    </div>
  </div>
</div>
{% endblock %}
